name: Build Windows

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  buildWindows:
    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v4

      - uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.5

      - name: Setup haxelib
        run: haxelib setup C:\haxelib
        shell: cmd

      - name: Install dependencies
        run: |
          haxelib install hxcpp --quiet
          haxelib install lime
          haxelib install openfl
          haxelib install flixel
          haxelib install flixel-tools
          haxelib install flixel-ui
          haxelib install flixel-addons
          haxelib install tjson
          haxelib install hxjsonast
          haxelib git linc_luajit https://github.com/AndreiRudenko/linc_luajit
          haxelib install hscript
          haxelib git hscript-ex https://github.com/ianharrigan/hscript-ex
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib install hxcpp-debug-server
        shell: cmd

      - name: Create Version Tag
        run: echo %GITHUB_RUN_ID% > VERSION
        shell: cmd

      - name: Compile
        run: haxelib run lime build Project.xml windows --app-version="4.0.0-%GITHUB_RUN_ID%"
        shell: cmd

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: windowsBuild
          path: export/release/windows/bin